{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
   Home
{% endblock title %}
    

{% block body %}
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
             <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
    <a href="{% url 'feed:post' %}">Add a New Post</a> <hr> <br>
    {% for post in posts %}
    <a href="{% url 'feed:postdetailsview' post.id  %}">
        {{ post.title }} <br>
        {% thumbnail post.image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
         {% endthumbnail %}
         <br>
    </a> <br>
    {% endfor %}
         
{% endblock body %}