{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
   Home
{% endblock title %}
    

{% block body %}
{% if messages %}
        
            {% for message in messages %}
             <div class="bg-{% if message.tags %}{{message.tags}}{% endif %} bg-gradient">{{ message }}</div>
            {% endfor %}
        
{% endif %}
<div class="row">
        
        {% for post in posts %}
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 18rem;">
                    {% thumbnail post.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}." class="card-img-top" alt="...">
                {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'feed:postdetailsview' post.id  %}" class="btn btn-primary">Go Detais</a>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock body %}